@charset "utf-8";
/* CSS Document */
body{
  margin:0px;
  border:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  background-color:#f1f1f1;
}
img{border:0px}
A {
	COLOR:#13406A; TEXT-DECORATION: none; font-family:"Verdana"; font-size:12px;
}
A:hover {
	COLOR: #13406A;TEXT-DECORATION: underline;
}

/* 特殊字体调用 */

/*@font-face {
	font-family: 'calibri';
	src: url('../index.html');
	src: local('☺'), url('../index.html') format('woff'), url('../index.html') format('truetype'), url('../index.html') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
	font-family: 'georgiab';
	src: url('../index.html');
	src: local('☺'), url('../index.html') format('woff'), url('../index.html') format('truetype'), url('../index.html') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'kelson_sansregular';
    src: url('../index.html');
    src: url('../index-.html#iefix') format('embedded-opentype'),
         url('../index.html') format('woff'),
         url('../index.html') format('truetype'),
         url('../index.html#kelson_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kelson_sanslight';
    src: url('../index.html');
    src: url('../index-.html#iefix') format('embedded-opentype'),
         url('../index.html') format('woff'),
         url('../index.html') format('truetype'),
         url('../index.html#kelson_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'kelson_sans_bold-webfont';
    src: url('../index.html');
    src: url('../index-.html#iefix') format('embedded-opentype'),
         url('../index.html') format('woff'),
         url('../index.html') format('truetype'),
         url('../index.html#kelson_sanslight') format('svg');
}
.geogia30 {font-family: 'georgiab'; font-size:30px}
.geogia40 {font-family: 'georgiab'; font-size:40px}
.geogia48 {font-family: 'georgiab'; font-size:48px}
.geogia24 {font-family: 'georgiab'; font-size:24px}
.geogia18 {font-family: 'georgiab'; font-size:18px}
.kel_reg {font-family: 'kelson_sansregular'}
.kel20 {font-family: 'kelson_sansregular'; font-size:20px; color:#3c3c3c}
.kel24 {font-family: 'kelson_sansregular'; font-size:24px; color:#3c3c3c}
.kel30 {font-family: 'kelson_sansregular'; font-size:30px; color:#3c3c3c}
.kel30_2 {font-family: 'kelson_sansregular'; font-size:30px; color:#5e5e5e}
.kel_title a:link {
	font-family: 'kelson_sansregular';
	font-size:30px;
	color:#FFF;
	text-decoration:none;	
	}
.kel_title a:hover {
	font-family: 'kelson_sansregular';
	font-size:30px;
	color:#FFF;
	text-decoration:underline;	
	}
.kel_title a:visited {
	font-family: 'kelson_sansregular';
	font-size:30px;
	color:#FFF;
	text-decoration:none;	
	}
/*其中fontName替换为你的字体名称*/


.bd2{border-right:#e1e1e1 1px solid}/*灰色右分隔线*/
.bd3 {border-right:1px solid #292929;
	box-shadow: 1px 0px 1px #686868;
	-webkit-box-shadow:1px 0px 1px #686868;
	-moz-box-shadow:1px 0px 1px #686868;
}/*灰色右侧一像素阴影*/
.bd4 {
	border-bottom: 1px solid rgba(0,0,0,0.1)}/*灰色底部一像素阴影*/
.bd5 {border-top: 1px solid rgba(255,255,255,0.4);}
.mgleft8{margin-left:8px}
.mgleft25{
	margin-left: 25px
}
.pdl27{padding-left:27px}
.pd5 {padding-top:5px; padding-right:5px}
.pd10 {padding-left:10px; padding-right:10px}
.pd20 {padding-left:20px; padding-right:20px}
.pd30 {padding-left:30px; padding-right:30px}
.lh20{line-height:20px}
.lh25{line-height:25px}
.lh30{line-height:30px}
.lh35{line-height:35px}
.lh40{line-height:40px}
.lh45{line-height:45px}
.lh50{line-height:50px}
.lh60{line-height:60px}
.f_a{font-family:Arial, Helvetica, sans-serif}
.f_v{font-family:Verdana, Geneva, sans-serif}
.f_t{font-family:Tahoma, Geneva, sans-serif}
.f_d{text-decoration:line-through;}

.tx_shadow01{text-shadow:1px 1px 3px #676767}

.fj{text-align:justify}
.fi{font-style:italic}
.fb{font-weight:bold}
.fctitle{color:#3c3c3c}.fctitle2{color:#5e5e5e}.fcf{color:#ffffff}.fc0{color:#000000}.fc1{color:#717171}.fcg{color:#7b7a7a}.fco{color:#ff8a00}.fck{color:#404040}.fcgr{color:#277564}.fcgr2{color:#25a78b}.fcred{color:#F00}.fc10{color:#0a5344}

.fcga{color:#838383}
.fcgr2{color:#4d8404}
.fcpp{color:#9149db}
.fcgr3{color:#0a997b}
.fcbl2{color:#175bb4}
.fcor2{color:#965b13}
.fcpu2{color:#b564d9}

.fcfa{color:rgba(255,255,255,0.7)}
.fcprice_g{color:#709b20}
.fcprice_b{color:#2777d8}
.fcprice_o{color:#fb9f0d}
.fcprice_p{color:#a362d5}
.fcdollar{color:#acacac}.fcred{color:#ff0000}.fcred2{color:#e71111}
.fs12{font-size:12px}.fs14{font-size:14px}.fs16{font-size:16px}.fs18{font-size:18px}.fs20{font-size:20px}.fs22{font-size:22px}.fs24{font-size:24px}.fs26{font-size:26px}.fs28{font-size:28px}.fs30{font-size:30px}.fs36{font-size:36px}.fs40{font-size:40px}
.fs12fe{font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#5e5e5e; line-height:20px}
.fs14v{font-size:14px;font-family:Verdana, Geneva, sans-serif;color:#303133;}
.fs14fe{font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#5e5e5e; line-height:20px}
.fs14v_jus{font-size:14px;font-family:Verdana, Geneva, sans-serif;color:#303133;text-align:justify;}
.fs16v{font-size:16px;font-family:Verdana, Geneva, sans-serif;color:#303133;}
.fs12vw{font-size:12px;font-family:Verdana, Geneva, sans-serif;color:#949494;}
.fs16sp{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#5e5e5e; line-height:25px;text-align:justify;}
.fs16tl{font-size:16px; font-family:Verdana, Geneva, sans-serif; font-weight:bold; color:#404040}
.fs18sp{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#5e5e5e; line-height:30px;text-align:justify;}

.fs16arw{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:bold}
.fs16arg{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#7b7a7a; font-weight:bold}
.fs14vdw{font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#fff; font-weight:bold}
.fs14vdg{font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#7b7a7a; font-weight:bold}
.fs16ark{font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#404040}
.fs16vs{font-size:16px; font-family:Georgia, "Times New Roman", Times, serif; color:#797979}
.fs16argreen{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#228973; font-weight:bold}
.fs16argreen2{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#00ddae; font-weight:bold}
.fs20arwhite{font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#FFF; font-weight:bold}
.fs28trans{font-family:Arial, Helvetica, sans-serif; font-size:28px; font-weight:bold; color:rgba(0,0,0,0.3)}
.fs18trans{font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:rgba(0,0,0,0.3)}

.fs16linkb a:link{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#06F;}
.fs16linkb a:hover{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#06F; text-decoration:underline;}
.fs16linkb a:visited{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#06F;}

.fs12graylink{
	color:#5e5e5e;
	text-decoration:none;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.fs12graylink:hover{
	color:#13406a;
	text-decoration:underline;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.top_login a:link {	
	color: #ffffff;
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.top_login a:visited {	
	color: #ffffff;
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.top_login a:hover {	
	color: #13b391;
	text-decoration:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	}
.top_aboutus a:link {	
	color: #7b7b7b;
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.top_aboutus a:visited {	
	color: #7b7b7b;
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.top_aboutus a:hover {	
	color: #ffffff;
	text-decoration:none;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	}
.top_menulink a:link {
	color:#FFF;
	text-decoration:none;
	text-shadow:1px 1px 0 #07735c;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	}
.top_menulink a:hover {
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	}
.top_menulink a:visited {
	color:#FFF;
	text-decoration:none;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	}
.top_slmenulink a:link{
	color:#FFF;
	text-decoration:none;;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;	}
.top_slmenulink a:hover{color:#00ddae; text-decoration:underline;}
..top_slmenulink a:visited{
	color:#FFF;
	text-decoration:none;;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;	}	
.foot_menulink a:link{
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;	
	color:#303133;
	}
.foot_menulink a:hover {
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;	
	text-decoration:underline; color:#1fb797;
	}
.foot_menulink a:visited{
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;	
	color:#303133;}
.foot_maillink{font-size:12px;font-family:Verdana, Geneva, sans-serif;color:#949494;}
.foot_maillink:hover{color:#FFF;text-decoration:underline;}
.cloud_faq a:link{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;	
	color:#8a8a8a;
	}
.cloud_faq a:hover {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline; color:#1fb797;
	}
.cloud_faq a:visited{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#8a8a8a;}
.exploring_link a:link {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
		}
.exploring_link a:hover {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#00ddae;
		}
.exploring_link a:visited {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
		}
.16arlink a:link{font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#06F}
.16arlink a:hover{text-decoration:underline}
.arblink12:link {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#5e5e5e;
		}
.arblink12:hover {color:#277564;
text-decoration:underline;
		}
.arblink12:visited {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#5e5e5e;
		}
.whtlink12 a:link {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
		}
.whtlink12 a:visited {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
		}
.whtlink12 a:hover {color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
text-decoration:underline;
		}
.12whtlink a:visited {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
		}
.fs16link a{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;	
	color:#404040;
	}
.fs16link a:link {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none; color:#404040;
	}

.fs16link a:hover {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline; color:#277564;
	}
.fs16link a:visited {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none; color:#404040;
	}

.fs16link2 a{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;	
	color:#277564;
	text-decoration:underline;
	}
.fs16link2 a:hover {
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline; color:#404040;
	}

.red14link a:link, a:visited {font-family:Tahoma, Geneva, sans-serif; color:#F00; text-decoration:none}
.red14link a:hover{text-decoration:underline;}

.green14link a:link {font-family:Tahoma, Geneva, sans-serif; color:#509f8e; text-decoration:underline;}
.green14link a:visited {font-family:Tahoma, Geneva, sans-serif; color:#509f8e; text-decoration:underline;}
.green14link a:hover {font-family:Tahoma, Geneva, sans-serif; color:#333; text-decoration:underline;}

.forgetlink a:link {
	font-family: Verdana,Arial,  Helvetica, sans-serif;
	color:#09F;
	text-decoration:underline;
}
.forgetlink a:hover {
	font-family: Verdana,Arial,  Helvetica, sans-serif;
    color:#FF0000;
	text-decoration: underline;
}
.fs16whitelink a:link{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:bold}
.fs16whitelink a:hover{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:bold; text-decoration:underline}
.fs16whitelink a:visited{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:bold}
.rtl {-moz-border-radius-topleft:7px;-webkit-border-top-left-radius:7px;border-top-left-radius:7px;}
.rtl9 {-moz-border-radius-topleft:9px;-webkit-border-top-left-radius:9px;border-top-left-radius:9px;}
.rtr{-moz-border-radius-topright:7px;-webkit-border-top-right-radius:7px;border-top-right-radius:7px;}
.rtr9{-moz-border-radius-topright:9px;-webkit-border-top-right-radius:9px;border-top-right-radius:9px;}
.rbl {-moz-border-radius-bottomleft:7px;-webkit-border-bottom-left-radius:7px;border-bottom-left-radius:7px;}
.rbl9 {-moz-border-radius-bottomleft:9px;-webkit-border-bottom-left-radius:9px;border-bottom-left-radius:9px;}
.rbr{-moz-border-radius-bottomright:7px;-webkit-border-bottom-right-radius:7px;border-bottom-right-radius:7px;}
.rbr9{-moz-border-radius-bottomright:9px;-webkit-border-bottom-right-radius:9px;border-bottom-right-radius:9px;}
.dropliststyle{position:relative;left:20px; top:10px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#5e5e5e;}
